{% extends 'base.html' %}

{% block meta %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="{{ url_for('static', filename='js/d3-3.5.6.min.js') }}">\/script>')
  </script>

  <script src="{{ url_for('static', filename='js/iopctrl.js') }}"></script>
  <script src="{{ url_for('static', filename='js/info.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
{% endblock %}

{% block body %}
  <h1>IGGG Techno Party</h1>

  <div id="equalizer">
    <svg>
      <g class="equalizer"></g>
    </svg>
  </div>

  <span class="invisible" id="initial-value">{{ count }}</span>
{% endblock %}
